* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
  margin: 10px 70px 10px 70px;
  padding: 15px;
}
  #map {
    height: 400px;
  }


h1 {
  text-align: center;
  color: #E37474;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#result {
    text-align: right;
    color: gray;
    min-height: 2em;
}
#table-sparkline {
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    font-weight: bold;
    text-align: left;
}
td, th {
    padding: 5px;
    border-bottom: 1px solid silver;
    height: 20px;
}

thead th {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.highcharts-tooltip>span {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
}

#table-sparkline {
  float: left;
}

.murderRates {
  clear: both;
  padding-top: 10px;
}

  a:link {color: #E37474;}
  a:visited {color: #870505;}
  a:focus {outline-color: #DE3333;}
  a:hover {color: #CCCACA;}
  a:active {color: #EB2828;}

@media (max-width: 667px){
  body {
      margin: 7px;
      padding: 0;
          }
        }
